html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
}

p {
  font-family:courier;
}

h1, h3 {
  font-family:courier;
  margin-left: 2rem;
}
